.main-container {
  /*url tag in css takes file location realtive to css file not from html file*/
}
.top-container {
  padding: 1%;
  background-color: #d8d5db;
}
.menu:hover {
  color: rgb(31, 128, 141);
}

.menu {
  color: #2d3142;
  padding: 1%;
}

/*url tag in css takes file location realtive to css file not from html file*/

#statement {
  position: absolute;
  right: 20%;
  top: 20%;
  color: #eae8ff;
  font-size: 2rem;
}

#prettybody {
  background-color: #0a0931;
  background-image: url("../assets/howling.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: auto;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
}

