.main-container {
    /*url tag in css takes file location realtive to css file not from html file*/
  }
  .top-container {
    padding: 1%;
    background-color: #d8d5db;
  }
  .menu:hover {
    color: rgb(31, 128, 141);
  }
  
  .menu {
    color: #2d3142;
    padding: 1%;
  }

  .circle{
    z-index: 5;
    position: absolute;
    left: 300px;
    top: 450px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
  }

  #c1,#c2{

    z-index: ;
    background: cornflowerblue;
    z-index: 6;
    position: absolute;
    left: 300px;
    top: 550px;
  }

  #c1{

    z-index: ;
    background: cornflowerblue;
    z-index: 6;
    position: absolute;
    left: 200px;
    top: 550px;
  }

  #c2{

    z-index: ;
    background: cornflowerblue;
    z-index: 6;
    position: absolute;
    left: 400px;
    top: 550px;
  }

  #c3,#c4{

    z-index: ;
    background: rgb(100, 237, 130);
    z-index: 6;
    position: absolute;
    left: 300px;
    top: 600px;
  }



  #c3{

    z-index: ;
    background: rgb(100, 237, 130);
    z-index: 5;
    position: absolute;
    left: 100px;
    top: 600px;
  }

  
  #c4{

    z-index: ;
    background: rgb(100, 237, 130);
    z-index: 3;
    position: absolute;
    left: 500px;
    top: 600px;
  }

  #c5,#c6{

    z-index: ;
    background: cornflowerblue;
    z-index: 5;
    position: absolute;
    left: 300px;
    top: 700px;
  }


  #c5{

    z-index: ;
    background: cornflowerblue;
    z-index: 6;
    position: absolute;
    left: 200px;
    top: 700px;
  }


  #c6{

    z-index: ;
    background: cornflowerblue;
    z-index: 4;
    position: absolute;
    left: 400px;
    top: 700px;
  }


  #c7{

    z-index: ;
    background: black;
    z-index: 5;
    position: absolute;
    left: 300px;
    top: 750px;
  }