body {
  background-color: #2d3142;
}

table {
  border: 1px;
  background-color: #d8d5db;
  border-radius: 50px;
  padding-left: 10px;
}

img {

  border-radius: 50px;

}

td {
  width: 30%;
}

h1 {
  background-color: #d8d5db;
  width: 250px;
  border-radius: 50px;
  padding-left: 10px;
}
h3 {
  background-color: #d8d5db;
  width: 105px;
  border-radius: 50px;
  padding-left: 10px;
}

p,
li {
  color: #eae8ff;
}

a {
  color: #eae8ff;
}

.menu:hover {
  color:rgb(31, 128, 141)
}

.menu {
  color: #2d3142;
}
 
