body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #2d3142;

}

img {

  border-radius: 50px;
  margin: 1%;

}

td {
  width: 30%;
  padding: 1%px;
}

h1 {
  background-color: #d8d5db;
  width: 250px;
  border-radius: 50px;
  padding-left: 10px;
  margin: 1%;
}
h3 {
  background-color: #d8d5db;
  width: 105px;
  border-radius: 50px;
  padding-left: 10px;
  margin: 1%;
}

p,
li {
  color: #eae8ff;
  padding-left: 10px;
}

p{
  margin: 1%;
}

a {
  color: #eae8ff;
}


.mainBody
{
margin-top: 1%; 

}


.menu:hover {
  color:rgb(31, 128, 141)
}

.menu {
  color: #2d3142;
  padding: 1%;
}

.navbar
{
padding: 1%;
background-color: #d8d5db;

}

/*url tag in css takes file location realtive to css file not from html file*/

#statement
{
  position: absolute; right: 20%; top:9%;

  
}


#prettybody
{
  background-color: #0a0931; 
  background-image: url("../assets/howling.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: auto;
  margin:0 auto;
}

#prettyh1
{
  
  padding-left: 2%;
}

#prettyh2
{
  color: #eae8ff;
  background-color: transparent;
  padding-left: 2%;
  width: 400px;
}

